<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="fileOut" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="./logs/${logfilename}" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="10" />
		<param name="BufferedIO" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p [%d{ISO8601}] (%F:%L) %c - %m%n" />
		</layout>
	</appender>

	<logger name="com.quadrant.empoweredsolutions.interview.impl">
		<level value="INFO" />
		<appender-ref ref="fileOut" />
	</logger>
</log4j:configuration>
